.home-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.logo{
    font-size:2.5rem;
    margin-bottom: 20px;
}

.message{
    max-width: 400px;
    margin: 0 auto 30px;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.buttons{
    display: flex;
    margin: 0 auto 30px;
    gap: 15px;
}

.btn{
    padding: 10px 20px;
    text-decoration: none;
    background-color: #222;
    color: white;
    border-radius: 5px;
}

.secondary{
    background-color: #555;
}